.bottombar {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--background_bars);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px); 
    border-radius: 5rem;
    padding: 3px 12px;
    margin: 12px 15px;
}
  
.bottombar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.1rem;
}

.personalized-icon .MuiSvgIcon-root {
    transition: all 0.2s;
}
.personalized-icon .MuiSvgIcon-root:hover {
    transition: all 0.2s;
    transform: scale(1.2);    
}
  
@media only screen and (max-width: 600px) {  
    .bottombar-container .personalized-icon {
        transform: scale(0.8);  
    }    
}