#footer {
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: center;
  cursor: default;
  background: var(--background_bars);
  width: 100%;
  padding: 25px 0;
}

.footer-container {
  max-width: 1200px;
}

.footer-tittle {
  font-size: 1rem;
  color: var(--text);
  margin-left: 30px;
  width: 100%;
}

@media (max-width: 600px) {  
  .footer-tittle {
    font-size: 3vw;
  }
}