:root {
  --background: #1E1E1E; 
  --text: #b8b8b8;
  --title: #D2D2D2;
  --button: #bbbbbb;
  --button_hover: #888888;

  --background_bars: #25252573;
  --bars_options_hover: #64646819;

  --btn_txt_disable: #545454;

  --background_modaL: #FFFFFFB3;
  --dark_opacity: #00000080;

  --cards: #262626;
  --cards_hover: #303030;

}
