#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: default;
}

.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.home-avatar img {
  width: auto;
  height: 25rem;
  transition: all 0.2s;
}

.home-avatar img:hover {
  transition: all 0.2s;
  transform: translateY(-5px);
}

.home-title {
  font-size: 60px;
  font-weight: bold;
  color: rgb(210, 210, 210);
}

.home-sub {
  font-family: 'Fira Code', monospace;
  color: rgb(210, 210, 210);
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}

.home-desc {
  
  font-size: 20px;
  margin: 0 4% 20px 4%;
  color: #a4a4a4;
}

.home-desc img {
  height: auto;
  width: 20px;
  padding-left: 10px;
}

.home-icons {
  display: flex;
  justify-content: center;
}

.home-icons .MuiButtonBase-root {
  position: relative;
  margin: 0 10px;
  color: #bbbbbb;
  transform: scale(1.5);
  transition: all 0.2s;
  padding-bottom: 4px;
}

.home-icons .MuiButtonBase-root:hover {
  color: #888888;
  transition: all 0.2s;
}

.home-icons .MuiButtonBase-root::before {
  content: "";
  position: absolute;
  left: 20%; 
  bottom: 0;
  width: 0; 
  height: 1px;
  background-color: #888888; 
  transition: width 0.2s ease-out;
}

.home-icons .MuiButtonBase-root:hover::before {
  width: 60%;
}

@media (max-width: 800px) {
  .home-avatar img {
    height: 50vw;
  }
}

@media (max-width: 550px) {
  .home-title {
    font-size: 40px;
    margin-bottom: 5px;
  }
  .home-sub {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .home-desc {
    font-size: 16px;
    margin: 20px 4% 20px 4%;
  }

  .home-icons .MuiButtonBase-root {
    margin: 0 10px;
    transform: scale(1.2);
  }
  .home-desc img {
    width: 15px;
  }
  
}
