.project-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--dark_opacity);
    backdrop-filter: blur(5px); 
    text-align: center;
  }

  .project-modal {
    background-color: var(--background_modaL); 
    padding: 8px 15px;
    text-align: center;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
  }

  .project-modal #project-info-modal-title {
    margin-top: 2rem;
    font-size: 1.1rem;
    padding: 0 40px;
  }
  
  .project-modal #project-info-modal-type {
    font-size: 1rem;
    margin-bottom: 2rem;
    padding: 0 40px;
  }

  @media (max-width: 700px) {     
  
      
   
  }