#skills {
    padding: 15%  10%;
    cursor:default;
    max-width: 1100px;
}

.skills-title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 3rem;
    color: #b8b8b8;
}
  
.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 1.2rem;
}

.skills-image {
    max-width: 80px; 
    height: auto;
    object-fit: scale-down;
    margin: 10px; 
    transition: all 0.35s;
}

.skills-image:hover  {
    transform: scale(1.15);
    transition: all 0.35s;
}

@media only screen and (max-width: 600px) {  
    #skills {
        padding: 25%  5%;
    } 
    .skills-title {
        font-size: 5.5vw;      
    }
    .skills-image{       
        width: 15vw;
        height: auto; 
      
    }
}