#skills {
    padding: 15%  20%;
    cursor:default;
}


.skills-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 3rem;
  }
  

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 1.2rem;
}

.skills-image {
    max-width: 80px; 
    height: auto;
    margin: 10px; 
    transition: transform 0.3s ease; 
}

.skills-image:hover  {
    transform: translateY(-7px);
}

@media only screen and (max-width: 1450px) {  
    #skills {
        padding: 15%  5%;
    } 
}